html, body, div, span, h1, h2, h3, h4, button, h5, h6, p, blockquote, a, pre, cite, img, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  font-weight: normal;
  vertical-align: baseline;
  -moz-box-sizing: border-box;
       box-sizing: border-box; }

html, body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  color: #817c7c;
  background-color: #f0f0f0;
  font: 16px/1.5 "Helvetica Neue","Helvetica","Microsoft YaHei","WenQuanYi Micro Hei",Arial,sans-serif;
  overflow: auto;
  -webkit-font-smoothing: antialiased; }

button {
  outline: none;
  color: inherit; }

ol, ul {
  margin: 0;
  padding: 0; }

ol, ul, li {
  list-style: none; }

i, em {
  font-style: normal; }

a {
  outline: none;
  text-decoration: none; }

input, textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  outline: none;
  border: 0;
  margin: 0;
  padding: 0; }

select, option {
  font-family: inherit; }

pre {
  margin: 0; }

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none; }

.clear-fix:before, .clear-fix:after {
  content: "";
  display: block; }

.clear-fix:after {
  clear: both; }

.hljs {
  display: block;
  overflow-x: auto;
  padding: 15px 0.5em 0.5em 30px;
  font-size: 14px !important;
  font-family: "Microsoft YaHei";
  line-height: 2; }

pre {
  background: #f6f6ae;
  border: solid 1px #d2e8b9;
  border-radius: 4px; }

.hljs-keyword, .hljs-selector-tag, .hljs-literal {
  color: #005599;
  font-weight: bold; }

.hljs, .hljs-subst {
  color: #3e5915; }

.hljs-string, .hljs-title, .hljs-section, .hljs-type, .hljs-symbol, .hljs-bullet, .hljs-attribute, .hljs-built_in, .hljs-builtin-name, .hljs-addition, .hljs-variable, .hljs-template-tag, .hljs-template-variable, .hljs-link {
  color: #2c009f; }

.hljs-comment, .hljs-quote, .hljs-deletion, .hljs-meta {
  color: #e60415; }

.hljs-keyword, .hljs-selector-tag, .hljs-literal, .hljs-doctag, .hljs-title, .hljs-section, .hljs-type, .hljs-name, .hljs-selector-id, .hljs-strong {
  font-weight: bold; }

.hljs-emphasis {
  font-style: italic; }

.page {
  width: 96%;
  margin: 20px auto 0;
  background-color: #fafafa;
  max-width: 1280px; }
  .page > h2.title {
    padding: 20px 10px;
    border-bottom: 1px solid #dbdbdb;
    font-size: 32px; }
  .page > div.content {
    font-size: 18px;
    padding: 15px 20px; }
    .page > div.content p {
      margin-top: 8px;
      line-height: 2;
      text-indent: 36px; }
      .page > div.content p em {
        font-weight: bold; }
      .page > div.content p strong {
        color: #f60;
        font-weight: normal; }
    .page > div.content p.dot {
      color: #f60; }
    .page > div.content ul li {
      list-style: disc inside;
      line-height: 45px;
      padding-left: 36px; }
    .page > div.content button {
      padding: 10px;
      background-color: #f0f0f0;
      text-align: center;
      border-radius: 6px;
      cursor: pointer;
      margin: 10px 0; }
      .page > div.content button:hover {
        background-color: #e0e0e0;
        color: #6c6c6c; }
    .page > div.content h3.sub-title {
      font-weight: bold;
      color: #f60;
      font-size: 20px;
      line-height: 2;
      margin-top: 15px; }
    .page > div.content h3.title {
      background-color: #cfc;
      color: #f96;
      font-size: 26px;
      border-radius: 6px;
      line-height: 2.4;
      padding-left: 18px;
      margin-top: 20px; }
      .page > div.content h3.title:first-child {
        margin-top: 0; }
    .page > div.content pre {
      margin-top: 8px; }
      .page > div.content pre > code {
        padding: 15px 36px; }
  .page > ul.article-list {
    padding: 0;
    background-color: #f0f0f0; }
    .page > ul.article-list > li {
      padding: 20px;
      margin-bottom: 10px;
      background-color: #fff;
      cursor: pointer; }
      .page > ul.article-list > li > h3 {
        padding: 8px;
        font-size: 20px;
        color: #f96;
        background-color: #cfc;
        border-radius: 4px; }
      .page > ul.article-list > li > div:nth-of-type(1) {
        font-size: 18px;
        line-height: 2;
        padding: 8px 0;
        border-bottom: 1px dotted #ccc; }
      .page > ul.article-list > li > div:nth-of-type(2) {
        text-align: right;
        line-height: 42px;
        font-size: 16px; }
      .page > ul.article-list > li:hover {
        box-shadow: #ddd 2px 3px 5px; }
  .page > footer {
    text-align: right;
    height: 60px;
    line-height: 60px;
    border-top: 1px solid #dbdbdb;
    padding: 0 20px; }

@media screen and (max-width: 720px) {
  .page {
    width: 98%; } }
@media screen and (max-width: 530px) {
  .page > ul.article-list > li {
    padding: 15px 15px 7px; }
  .page > div.content {
    padding-left: 15px;
    padding-right: 15px; }
    .page > div.content pre > code {
      padding: 15px 24px; } }
@media screen and (max-width: 402px) {
  .page > ul.article-list > li {
    padding: 12px 12px 6px; }
  .page > div.content {
    padding-left: 10px;
    padding-right: 10px; }
    .page > div.content pre > code {
      padding: 15px; } }
@media screen and (max-width: 359px) {
  .page > ul.article-list > li {
    padding: 10px 10px 5px; }
  .page > div.content {
    padding-left: 6px;
    padding-right: 6px; }
    .page > div.content pre > code {
      padding: 8px; } }
