html, body, div, span, h1, h2, h3, h4, button, h5, h6, p, blockquote, a, pre, cite, img, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  font-weight: normal;
  vertical-align: baseline;
  box-sizing: border-box; }

html, body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  color: #817c7c;
  background-color: #f0f0f0;
  font: 16px/1.5 "Helvetica Neue","Helvetica","Microsoft YaHei","WenQuanYi Micro Hei",Arial,sans-serif;
  overflow: auto;
  -webkit-font-smoothing: antialiased; }

button {
  outline: none;
  color: inherit; }

ol, ul {
  margin: 0;
  padding: 0; }

ol, ul, li {
  list-style: none; }

i, em {
  font-style: normal; }

a {
  outline: none;
  text-decoration: none; }

input, textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  outline: none;
  border: 0;
  margin: 0;
  padding: 0; }

select, option {
  font-family: inherit; }

pre {
  margin: 0; }

.no-select {
  -webkit-user-select: none;
  user-select: none; }

.clear-fix:before, .clear-fix:after {
  content: "";
  display: block; }

.clear-fix:after {
  clear: both; }
