div.turn-table-draw > div {
  width: 300px;
  height: 300px;
  position: relative;
  background: transparent; }
  div.turn-table-draw > div > canvas:nth-of-type(1) {
    width: 300px;
    height: 300px; }
  div.turn-table-draw > div > canvas:nth-of-type(2) {
    position: absolute;
    width: 51px;
    height: 70px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    cursor: pointer; }
