@import "../common/mixin.scss";

/////////////////////////////////////////////////////2
div.exp{
  margin:15px auto;
  padding:20px 0;
  background: #eee;
  border-radius: 6px;
}
div.exp>div{
  width:310px;
  height:120px;
  margin:0 auto;
  background: #fff;
  text-align: center;
  line-height: 80px;
}
div.transparent-border>div{
  border:20px dotted rgba(0,0,255,0.1);
}
div.transparent-border>div.act{
  background-clip: padding-box;
}
div.multiple-border-box-shadow{
  padding-top:25px;
}
div.multiple-border-box-shadow>div{
  height:105px;
  width:290px;
  background-color: white;
  box-shadow: 0 0 0 5px #655, 0 0 0 10px deeppink, 0 2px 5px 10px rgba(0,0,0,0.6);
}
div.multiple-border-outline>div{
  background-color: white;
  border:5px solid #655;
  outline:5px solid deeppink;
}
div.bg{
  height:160px;
  background: url("../../assets/exp/css-secrects/1.png") no-repeat bottom right rgb(225,213,216);
}
div.bg-position{
  background-position: right 20px bottom 10px;
}
div.bg-origin{
  padding:10px 20px;
  background-origin: content-box;
}
div.bg-calc{
  background-position: calc(100% - 20px) calc(100% - 10px);
}
div.inner-border-radius>div{
  width:290px;
  background: tan;
  border-radius: 12px;
  box-shadow: 0 0 0 6px #655;
  outline:9px solid #655;
}
div.linear-1>div{
  background: linear-gradient(#fb3 50%, #58a 50%);
  background-size: 100% 30px;
}
div.linear-2>div{
  background: linear-gradient(to right ,#fb3 50%, #58a 0);
  background-size: 30px 100%;
}
div.linear-3>div{
  background: linear-gradient(45deg, #fb3 25%, #58a 25%, #58a 50%, #fb3 50%, #fb3 75%, #58a 75%);
  background-size: 42.426px 42.426px;
}
div.linear-4>div{
  background: repeating-linear-gradient(45deg,#fb3, #fb3 15px, #58a 15px, #58a 30px);
}
div.linear-5>div{
  background: #58a;
  background-image: repeating-linear-gradient(30deg, rgba(255,255,255,0.1), rgba(255,255,255,0.1) 15px, transparent 15px, transparent 30px);
}
div.linear-6>div{
  background: white;
  background-image: linear-gradient(90deg, rgba(200,0,0,0.5) 50%, transparent 0), linear-gradient(rgba(200,0,0,0.5) 50%, transparent 0);
  background-size: 30px 30px;
}
div.linear-7>div{
  background: #58a;
  background-image: linear-gradient(#ccc 1px, transparent 0), linear-gradient(90deg, #ccc 1px, transparent 0);
  background-size: 20px 20px;
}
div.linear-8>div{
  background: #58a;
  background-image: linear-gradient(white 2px, transparent 0), linear-gradient(90deg, white 2px, transparent 0), linear-gradient(hsla(0, 0%, 100%, 0.3) 1px, transparent 0), linear-gradient(90deg, hsla(0, 0%, 100%, 0.3) 1px, transparent 0);
  background-size: 75px 75px, 75px 75px, 15px 15px, 15px 15px;
}
div.linear-9>div{
  background: #655;
  background-image: radial-gradient(tan 20%, transparent 0);
  background-size: 30px 30px;
}
div.linear-10>div{
  background: #655;
  background-image: radial-gradient(tan 20%, transparent 0), radial-gradient(tan 20%, transparent 0);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}
div.linear-11>div{
  padding:1em;
  border:1em solid transparent;
  background: linear-gradient(white,white), repeating-linear-gradient(-45deg, red 0, red 12.5%, transparent 12.5%, transparent 25%, #58a 25%, #58a 37.5%, transparent 37.5%, transparent 50%);
  background-size: 3em 3em;
  background-clip: padding-box, border-box;
}
@-moz-keyframes ants {
  to {
    background-position: 100%;
  }
}
@keyframes ants {
  to {
    background-position: 100%;
  }
}
div.marching-ants>div{
  padding: 1em;
  border:1px solid transparent;
  background: linear-gradient(white,white), repeating-linear-gradient(-45deg, black 0, black 25%, white 0, white 50%);
  background-clip: padding-box, border-box;
  background-size: 0.6em 0.6em;
  animation: ants 12s linear infinite;
}
/////////////////////////////////////////////////////3
div.ellipse-1>div{
  background-color: #bc6060;
  border-radius: 155px / 60px;
}
div.ellipse-2>div{
  background-color: #bc6060;
  border-radius: 50% / 100% 100% 0 0;
}
div.ellipse-3>div{
  width:200px;
  background-color: #bc6060;
  border-radius: 100% 0 0 100%/ 50%;
}
div.ellipse-4>div{
  width:200px;
  background-color: #bc6060;
  border-radius: 100% 0 0/ 100% 0 0;
}
div.paralle-1{
  overflow: hidden;
}
div.paralle-1>div{
  width:260px;
  background-color: #58a;
  transform: skewX(-45deg);
}
div.paralle-1>div>div{
  height:100%;
  transform: skewX(45deg);
  color:#fff;
  line-height: 120px;
}
div.paralle-2>div{
  position: relative;
  z-index:0;
  width:260px;
  background-color: transparent;
  line-height: 120px;
  color:#fff;
}
div.paralle-2>div::before{
  content: '';
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  transform: skewX(-45deg);
  z-index: -1;
  background-color: #58a;
}
div.diamond-1{
  height:240px;
  padding:45px 0 30px;
}
div.diamond-1>div{
  width:150px !important;
  height:150px;
  transform: rotate(45deg);
  overflow: hidden;
}
div.diamond-1>div>img{
  width:100%;
  height:100%;
  transform: rotate(-45deg) scale(1.42);
}
div.diamond-2{
  text-align: center;
  height:190px;
}
div.diamond-2>img{
  width:150px;
  height:150px;
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  transition: clip-path 1s;
}
div.diamond-2>img:hover{
  clip-path: polygon(0 0, 100% 0,100% 100%,0 100%);
}
div.cuttingAngle-1>div{
  background: #58a;
  background: linear-gradient(-45deg, transparent 15px, #58a 15px);
}
div.cuttingAngle-2>div{
  background: #58a;
  background: linear-gradient(-45deg, transparent 15px, #58a 15px) top right, linear-gradient(45deg, transparent 15px, #58a 15px) top left;
  background-size: 50% 100%;
  background-repeat: no-repeat;
}
div.cuttingAngle-3>div{
  background: #58a;
  background: linear-gradient(-45deg, transparent 15px, #58a 15px) bottom right,
                      linear-gradient(45deg, transparent 15px, #58a 15px) bottom left,
                      linear-gradient(-135deg, transparent 15px, #58a 15px) top right,
                      linear-gradient(135deg, transparent 15px, #58a 15px) top left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}
div.cuttingAngle-4>div{
  background: #58a;
  background: radial-gradient(circle at top left, transparent 15px,#58a 15px) top left,
                      radial-gradient(circle at bottom left, transparent 15px,#58a 15px) bottom left,
                      radial-gradient(circle at top right, transparent 15px,#58a 15px) top right,
                      radial-gradient(circle at bottom right, transparent 15px,#58a 15px) bottom right;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}
div.cuttingAngle-5>div{
  border:20px solid #58a;
  border-image: 1 url('data:image/svg+xml,\
                        <svg xmlns="http://www.w3.org/2000/svg"\
                              width="3" height="3" fill="%2358a">\
                         <polygon points="0,1 1,0 2,0 3,1 3,2 2,3 1,3 0,2"/>\
                              </svg>');
  background: #58a;
  background-clip: padding-box;
}
div.cuttingAngle-6{
  text-align: center;
  height:190px;
  >img{
    width:150px;
    height:150px;
    clip-path: polygon(20px 0,calc(100% - 20px) 0,100% 20px,100% calc(100% - 20px), calc(100% - 20px) 100%, 20px 100%, 0 calc(100% - 20px), 0 20px, 20px 0);
  }
}
div.tab-1>div{
  position: relative;
  padding: .5em 1em .35em;
  color:white;
  z-index:0;
  background: transparent;
  &:before{
    content:"";
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:-1;
    background: #58a;
    transform-origin: bottom;
    transform: scaleY(2.2) perspective(.5em) rotateX(5deg);
  }
}
div.pie{
  >div{
    width:220px;
    height:220px;
    border-radius: 50%;
    background: yellowgreen;
    background-image: linear-gradient(to right, transparent 50%, #655 50%);
    overflow: hidden;
    &:before{
      content : "";
      display: block;
      margin-left:50%;
      height:100%;
      transform-origin: 0 50%;
      border-radius: 0 100% 100% 0 / 50%;
    }
  }
}
div.pie-1{
  >div{
    &:before{
      background-color: inherit;
      transform: rotate(72deg);
    }
  }
}
div.pie-2{
  >div{
    &:before{
      background-color: #655;
      transform: rotate(36deg);
    }
  }
}
div.pie-3,div.pie-4{
  >div{
    &:before{
      background-color: inherit;
      animation: pie-spin 3s linear infinite, pie-bg 6s step-end infinite;
    }
  }
}

div.pie-4{
  >div{
    &:before{
      animation: pie-spin 50s linear infinite, pie-bg 100s step-end infinite;
      animation-play-state: paused;
      animation-delay:inherit;
    }
  }
}
@keyframes pie-spin {
  to{
    transform: rotate(180deg);
  }
}
@keyframes pie-bg {
  50%{
    background-color: #655;
  }
}

div.shadow-1>div{
  background: #58a;
  box-shadow: 2px 3px 4px rgba(0,0,0,.5)
}
div.shadow-2>div{
  background: #58a;
  box-shadow: 0 8px 4px -4px rgba(0,0,0,.5);
}
div.shadow-3>div{
  background: #58a;
  box-shadow: 8px 0 4px -4px rgba(0,0,0,.5), -8px 0 4px -4px rgba(0,0,0,.5);
}
div.filter-1>div{
  filter: drop-shadow(2px 2px 10px rgba(0,0,0,0.5))
}
div.filter-2{
  >img{
    display: block;
    width:150px;
    height:150px;
    margin:0 auto;
    filter: sepia(1) saturate(4) hue-rotate(295deg);
    transition: 0.5s filter;
    &:hover{
      filter: none
    }
  }
}
div.filter-3{
  >div{
    width:150px !important;
    height:150px;
    background: hsl(335, 100%, 50%);
    >img{
      width:100%;
      height:100%;
      mix-blend-mode: luminosity;
    }
  }
}
div.filter-4{
  >div{
    width: 150px !important;
    height: 150px;
    background-size: cover;
    background-color: hsl(335, 100%, 50%);
    background-blend-mode: luminosity;
    transition: .5s background-color;
    background-image: url("../../assets/header.jpg");
    &:hover{
      background-color: transparent;
    }
  }
}
div.angle-1{
  >div{
    height:150px;
    background: #58a;
    background: linear-gradient(to left bottom, transparent 50%, rgba(0,0,0,0.4) 0) no-repeat 100% 0 / 2em 2em,
      linear-gradient(-135deg, transparent 1.414em, #58a 0);
  }
}
div.angle-2{
  >div{
    height: 150px;
    background: #58a;
    background: linear-gradient(to left bottom, transparent 50%, rgba(0,0,0,0.4) 0) no-repeat 100% 0 / 3em 1.73em,
      linear-gradient(-150deg, transparent 1.5em, #58a 0);
  }
}
div.angle-3{
  >div{
    position: relative;
    height:150px;
    background: #58a;
    background: linear-gradient(-150deg, transparent 1.5em,#58a 0);
    &:before{
      content: "";
      position: absolute;
      width:3em;
      height:1.73em;
      top:0;
      right:0;
      background: linear-gradient(to left bottom, transparent 50%, rgba(0,0,0,0.4) 0);
    }
  }
}

div.angle-4{
  >div{
    &:before{
      width:1.73em;
      height:3em;
      transform: translateY(-1.3em) rotate(-30deg);
      transform-origin: bottom right;
    }
  }
}
div.angle-5{
  >div{
    border-radius: .5em;
    &:before{
      border-bottom-left-radius: inherit;
      box-shadow: -0.2em 0.2em 0.3em -0.1em rgba(0,0,0,0.15);
    }
  }
}
//////////////////////////////////////////////////////
@media screen and (max-width: 402px){
  div.exp>div{
    width:280px;
  }
  div.ellipse-1>div{
    border-radius: 140px / 60px;
  }
  div.paralle-1>div,div.paralle-2>div{
    width:200px;
  }
  div.pie>div{
    height:220px;
    width:220px;
  }
}
@media screen and (max-width: 359px){
  div.paralle-1>div,div.paralle-2>div{
    width:180px;
  }
}
