@import "../common/common.scss";
@import "./css.scss";
@import "./canvas.scss";

header{
  position: relative;
  height: 188px;
  background: url('../../assets/header-bg.jpg');
  transition: opacity 0.3s;
  >div.wrap,>nav>ul{
    width:96%;
    max-width: 1280px;
    margin:0 auto;
  }
  >div.wrap{
    height:100%;
    padding:32px 10px;
  }
  div.logo{
    width: 88px;
    height: 88px;
    border-radius: 50%;
    border:2px solid #ddd;
    float:left;
    @include img("../../assets/header.jpg",100% 100%)
  }
  div.title{
    width:265px;
    float:left;
    margin-left:20px;
    >h1{
      height:50px;
      line-height:50px;
      font-size:48px;
      color:#fff;
    }
    >h2{
      line-height:38px;
      font-style:italic;
      font-size:16px;
      color:#ddd;
    }
  }
  >nav{
    position: absolute;
    bottom:0;
    height:55px;
    width:100%;
    line-height:55px;
    font-size:18px;
    background: rgba(0,0,0,0.08);
    ul{
      li{
        float: right;
        a{
          display: block;
          padding:0 30px;
          color:#ddd;
          transition: color 0.25s, background 0.5s;
          &:hover{
            background-color: #036;
            color:#fff;
          }
        }
      }
    }
  }
}

footer{
  text-align: center;
  font-size:16px;
  line-height:40px;
  color:#817c7c;
  transition: opacity 0.3s;
  >a{
    color:#817c7c;
    &:hover{
      color:#f60;
      text-decoration: underline;
    }
  }
}

.fade-enter-active, .fade-leave-active{
  transition: opacity .3s ease-out, transform .3s ease-out
}
.fade-enter, .fade-leave-active {
  opacity: 0.3
}

@media screen and (max-width: 530px){
  header{
    height:143px;
    >nav{
      display: none;
    }
    >div.wrap{
      width:98%;
    }
  }
}

@media screen and (max-width: 402px){
  header{
    div.title{
      margin-left:6px;
      width:245px;
      >h2{
        font-size:15px;
      }
    }
    >div.wrap{
      padding-left:6px;
      padding-right:6px;
    }
  }
}

@media screen and (max-width: 359px) {
  header {
    div.title {
      margin-left:4px;
      width:210px;
      >h2{
        font-size:13px;
      }
    }
    >div.wrap{
      padding-left:4px;
      padding-right:4px;
    }
  }
}
